$cp-blue: #009de0;
$cp-gray:#868686;

.divider {
    background-color: $cp-blue;
    width: 100%;
    height: 2vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $cp-gray;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 1.1em;
  text-decoration: none;
}

li a:hover {
  background-color: $cp-blue;
}

li.stealth {
  background-color: $cp-blue;
}

li a.active {
  background-color: $cp-blue;
}

li.stealth a:hover {
  background-color: $cp-blue;
}

