.red {
    background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.rotate {
  transform: rotate(-180deg);
}

.large {
  font-size: xx-large;
}

.small {
  font-size: xx-small;
}

.padding {
  padding: 20vh
}